.lt_content {
  font-size: 17px;
}
.proName,
.proPrice,
.proSize,
.proNum,
.proDetail {
  padding: 10px;
  border-top: 1px solid #ccc;
}
/* 价格 */
.proPrice .price {
  color: red;
}
.proPrice .oldPrice {
  color: #ccc;
  font-size: 12px;
  text-decoration: line-through;
}
/* 尺码 */
.proSize span {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 12px;
  background-color: #eee;
  line-height: 30px;
  text-align: center;
}
.proSize span.now {
  background-color: #069;
}
/* 商品数量 */
.tips {
  font-size: 12px;
  color: #666;
}
/* 底部 */
.lt_detail_foot {
  padding: 10px;
  height: 55px;
}
.go_cart {

}
