.lt_content {
  padding: 10px;
}

input[name=vCode] {
  width: 65%;
}

.register_form .getCode {
  width: 30%;
  height: 40px;
}

.btn_register {
  padding-top: 0;
}

.register {
  width: 100%;
  height: 40px;
}
.getCode.disabled{
  background-color: #ccc;
  border-color: #ccc;
  color: #666;
}